  <div>
    <div
      class=" px-4 text-center h-300 border-solid border-2 border-gray-900"
    >
      <p class="m-8 p-5 border-solid border-2 border-gray-900">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, neque? Quam neque porro repellat blanditiis unde nihil illo dolorem explicabo! Ab consectetur, eaque quae fugiat in vel repellendus omnis tenetur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perferendis deleniti rerum fuga quo dolore consequuntur provident placeat animi. Sapiente consequatur explicabo obcaecati ipsa molestiae quo dolorum libero soluta nemo!
      </p>
    </div>
  </div>