---
import CatNavitems from "./CatNavitems.astro"

const navItems = [
  {href: "/", label: "Home"},
  {href: "about", label: "About Elaine"},
  {href: "books", label: "Books"},
  {href: "contact", label: "Contact"},
]
---

    <section class="nav-section">

            <!-- Desktop Nav menu start -->
      <nav
        class="relative px-6 py-6 flex justify-between items-center bg-white w-3/4 mx-auto"
      >
        <a class="text-3xl font-bold leading-none" href="/">
          
        </a>

        <!-- 1. mobile menu hamburger -->
        <div class="lg:hidden">
          <button class="navbar-burger flex items-center text-green-600 p-3">
            <svg
              class="block h-4 w-4 fill-current"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Mobile Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>

        
        <ul
          class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6"
        >
          {navItems.map(item => <CatNavitems href={item.href} label={item.label} />)}
        </ul>
        
      </nav>
      <!-- Desktop Nav menu end -->

      <!-- Mobile Nav menu start -->
      <div
        class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50 "
      >
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
        <nav
          class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto"
        >
          <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-bold leading-none" href="/">
              
            </a>
            <button class="navbar-close">
              <svg
                class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>

          <!-- Mobile Nav menu items -->
          <div class="border solid border-1 border-red-500">
            <ul>
              {navItems.map(item => <CatNavitems href={item.href} label={item.label} mobile />)}
            </ul>
          </div>
          <div class="mt-auto">

            <!-- learn more -->
            <div class="pt-6">
              
              
            </div>

            <!-- copyright -->
            <p class="my-4 text-xs text-center text-gray-400">
              <span>© <script type="text/javascript">document.write(new Date().getFullYear());</script> All rights reserved.</span>
            </p>
          </div>
        </nav>
      </div>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const burger = document.querySelector<HTMLButtonElement>('.navbar-burger')
        const menu = document.querySelector<HTMLDivElement>('.navbar-menu')
        const backdrop =document.querySelector<HTMLDivElement>('.navbar-backdrop')
        const closeBtn =document.querySelector<HTMLButtonElement>('.navbar-close')

          function toggleMenue() {
            menu?.classList.toggle('hidden')
          }

          burger?.addEventListener('click', toggleMenue);
          backdrop?.addEventListener('click', toggleMenue)
          closeBtn?.addEventListener('click', toggleMenue)
      });

    </script>