---
import TopNav from "./TopNav.astro";
---

<section class="h-full w-full">
  <div class="container mx-auto w-full translate-y-12">
    <p class="edsName mt-8 text-5xl lg:text-9xl md:text-6xl text-center">
      Elaine Denald Stewart
    </p>
  </div>
  <div class="">
    <TopNav />
  </div>
</section>

<style>
  .edsName {
    font-family: "Tangerine", cursive;
  }
</style>
