---
import {Image} from "astro:assets";
import ePortrait from "../assets/images/ePortrait2.jpg";
---


<section class=" ">
  <div class="h-auto">
  <div class="flex">
  <div class="m-16 rounded-full">
<Image
      class=" scale-75 md:shrink-0 rounded-"
      src={ePortrait}
      alt="eportrait"
    />
  </div>
  
  <div>

  </div>
  </div>
</div>
</section>