---
interface Props {
  href: string;
  label: string;
  mobile?: boolean;
}
const { href, label, mobile } = Astro.props;

const pathname = new URL(Astro.url).pathname;
const currentPath = pathname.slice(1);

const isActive = currentPath === href.slice(1);
const isMobile = mobile ? "mobile-nav-item" : "nav-item";

---
<div class="container">
<li class="">
  <a class:list={[isMobile, isActive ? "active" : ""]} href={href}>{label} </a>
</li>
</div>


<style>
  .mobile-nav-item {
    @apply block p-4 text-2xl bg-bgYellow text-gray-500 hover:bg-green-50 hover:text-green-500;
    font-family: 'Allura', cursive;
  }

  .nav-item {  
    font-family: 'Allura', cursive;
    /* font-family: 'Dancing Script Variable', cursive; */   
  }

  .active {
    @apply text-gray-900;
  }
</style>
