---

import EdsPlusNav from "./EdsPlusNav.astro";
---


<section>
  <div>
    <EdsPlusNav />
  
  
    <h1 class="flex justify-center mt-10 mb-8">Sorry, Ebook is not yet available.</h1>
  </div>
</section>

