---

import '@fontsource/tangerine';
import '@fontsource-variable/dancing-script';
import '@fontsource/cormorant-garamond/500.css';
import '@fontsource/allura';
import '@fontsource/cormorant-upright';
import BooksCover from '../components/BooksCover.astro';
import NewestBook from '../components/NewestBook.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <!-- bg-gradient-to-b from-[#c7ab59] to-[#ded2ab]  -->
  <!-- bg-gradient-to-b from-[#c7ab59] from-10% via-[#699ec3] via-30% to-[#ffffff] to-90% to-[#699ec3] -->
  <body class="bg-gradient-to-b from-[#cfd59f] via-[#d2d2c8] to-[#699ec3]">
    <div class="m-auto">
    <div class="">
      <slot />
    </div>
    <div class="">
    <BooksCover />
    </div>
    <div>
      <NewestBook />
    </div>
</div>
  </body>
</html>
